InspectorDrawer/[Ll]ibrary/
InspectorDrawer/Temp/
InspectorDrawer/obj/
InspectorDrawer/Logs/
InspectorDrawer/Assets/StreamingAssets/
InspectorDrawer/AssetBundle/

*.suo
*.sln
UnityLab/Assembly-CSharp-Editor.csproj
UnityLab/Assembly-CSharp.csproj
